<!-- Your new widget html -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">Client Name</a>
    <a href="#" class="active item">Dash</a>
    <a href="/" class="item">Orders</a>
    <a href="#" class="item">Shipments</a>
    <a href="/tickets" class="item">Tickets</a>
  </div>
</div>

<div class="ui main container grid">

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
      </li>
    </ul>
  </div>

</div>

<%= javascript_include_tag 'dashing/application' %>
