<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item"><%= @title %></a>
    <a href="#" class="item">Dash</a>
    <a href="#" class="item">Orders</a>
    <a href="#" class="item">Shipments</a>
    <a href="#" class="item">Tickets</a>
  </div>
</div>
<div class="ui main container">
  <div class="ui input">
    <input type="search" name="search" value="Search">
  </div>
  <a href="#"><i class="search icon"></i></a>
  <a href="#" class="ui simple dropdown item">
      Order By <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Link Item</div>
        <div class="item">Link Item</div>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <div class="item">Link Item</div>
            <div class="item">Link Item</div>
          </div>
        </div>
        <div class="item">Link Item</div>
      </div>
    </a>
    <!--  Begin Cards -->
    <div class="ui four cards">
      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>

      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>

      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>

      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>

      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>

      <div class="ui card">
        <div class="content">
          <p class="header">Name</p>
          <p class="">Date</p>
          <p class="">Order#</p>
          <p class="">Product(s)</p>
        </div>
      </div>
    </div>
</div>
