// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

.main.container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 6em;
}

.right {
  float: right;
}
.ui.modal {
  top: 6.5em;
}

.left {
  float: left;
}

.modal .input {
  margin: 1%;
  width: 47%;
}

.ui.form {
  margin: 1%;
  button {
    margin: 1%;
  }
}
